body {
  font-family: 'Roboto';
  color: #0e1c36;
  background-color: #E7EEEE;
}

body, html {
  height: 100%;
  background-image: linear-gradient(176deg, #CC513B 40%, #FFA696 calc(40% + 2px));
}

a {
  color: #d7f9ff;
}

.logo {
  color: white;
}

/* Search bar styling */
.search-bar-input-group {
  flex-wrap: nowrap;
}

.search-bar-input {
  padding: 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: 0;
  text-overflow: ellipsis;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-weight:100;
}

.search-bar-button {
  border-radius: 0 0.5rem 0.5rem 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: white;
  border-left: 0;
  border-color: #ced4da;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Styles for search page */
.chunk-title {
  font-weight: 300;
}

.chunk-example {
  font-size: 1.1rem;
}

.chunk-result-card {
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chunk-language-marker {
  color: #6379CF;
  vertical-align: super;
  font-size: medium;
  font-weight: 100;
}

.chunk-examples-label {
  color: #888;
  font-weight: 100;
}

.results-container {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

hr.chunk-divider { 
  border-top: 1px dashed #bbbbbb;
  display: block;
  width: 100%;
}

.search-container {
  background-color: #CC513B;
}

/* Tokens */
.primary-color {
  color: #0e1c36;
}

.secondary-color {
  color: #153B82;
}


/* Divider stylings */
