body {
  font-family: 'Roboto';
  color: #0e1c36;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #0099E5;
}

a {
  color: #d7f9ff;
}

.logo {
  color: white;
  font-family: 'Amatic SC';
  font-weight: bold;
  font-size: 4rem;
}

.logo:hover {
  color: white;
  text-decoration: none;
}

.logo-md {
 font-size: 6rem;
}

/* Search bar styling */
.search-bar-input-group {
  flex-wrap: nowrap;
}

.search-bar-input {
  padding: 2rem;
  font-size: 1.5rem;
  text-overflow: ellipsis;
  font-weight:100;
  border: none;
}

.search-bar-button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: white;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #EEEEEE;
}

/* Styles for search page */
.chunk-title {
  font-weight: lighter;
}

.chunk-example {
  font-size: 1.1rem;
  font-weight: light;
}

.chunk-result-card {
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chunk-language-marker {
  color: #6379CF;
  vertical-align: super;
  font-size: medium;
  font-weight: 100;
}

.chunk-examples-label {
  color: #888;
  font-weight: 100;
}

.results-container {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.search-container {
  background-color: #006699;
}

.chunk-divider:last-child {
  display: none;
}

/* Tokens */
.primary-color {
  color: #0e1c36;
}

.secondary-color {
  color: #153B82;
}


/* Divider stylings */
